.panel-krsw {
  background: url(../images/background-pics/path-001.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/kristen.jpeg) center / contain;
  }
}

.panel-CaSa {
  background: url(../images/background-pics/path-011.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/caleb-01.jpg) center / contain;
  }
}

.panel-DeDy {
  background: url(../images/background-pics/path-002.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/derekdyer.jpg) center / contain;
  }
}

.panel-SaTo {
  background: url(../images/background-pics/path-006.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/sara.jpg) center / contain;
  }
}

.panel-JoHu {
  background: url(../images/background-pics/path-004.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/jonathan.jpg) center / contain;
  }
}

.panel-JeDi {
  background: url(../images/background-pics/path-001.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/Jeremiah_Diboll.jpg) center / contain;
  }
}

.panel-VaBe {
  background: url(../images/background-pics/path-001.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/Val.jpg) center / contain;
  }
}

.panel-ShMo {
  background: url(../images/background-pics/path-014.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/Sheri.jpg) center / contain;
  }
}

.panel-TaCo {
  background: url(../images/background-pics/taylorcox-bg.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/taylor-cox.jpg) center / contain;
  }
}

.panel-KeVa {
  background: url(../images/background-pics/path-002.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/kenia.jpg) center / contain;
  }
}

.panel-BrRi {
  background: url(../images/background-pics/brunoBack.jpg) no-repeat center center;
  background-size: cover;

  i {
    font-size: 500%;
    padding: 0.5em 0 0 0.1em;
  }

  h2,
  p {
    font-family: Helvetica, Impact, sans-serif;
  }

  .profile-pic {
    background: url(../images/profile-pics/BrunoSmall.jpg) center / contain;
  }
}

.panel-AmWi {
  background: url(../images/background-pics/path-005.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/amie.jpg) center / contain;
  }
}

.panel-KaTr {
  background: url(../images/background-pics/KaTr-bg.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/katherine.jpg) center / contain;
  }
}

.panel-SaVe {
  background: url(../images/background-pics/SaVe-bg.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/sarrah.jpg) center / contain;
  }
}

.panel-BrSu {
  background: url(../images/background-pics/path-006.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/BrandynSullins.jpg) center / contain;
    background-size: cover;
  }
}

.panel-LiTi {
  background: url(../images/background-pics/LiTi-bg.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/tiller.jpeg) center / contain;
    background-size: cover;
  }
}

.panel-MiNa {
  background: url(../images/background-pics/MiNa-bg.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/mnash.jpeg) center / contain;
  }
}

.panel-JuBz {
  background: url(../images/background-pics/path-009.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/JuliusBzozowski.jpg) center / contain;
  }
}

.panel-BrJa {
  background: url(../images/background-pics/coffee-and-computer.jpeg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/pic-of-Bree.jpg) center / contain;
  }
}

.panel-JaFr {
  background: url(../images/background-pics/JazBG.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/jasmine.jpg) center / contain;
  }
}

.panel-RoBo {
  background: url(../images/background-pics/robbybournebackground1.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/robbybourne1.jpg) center / contain;
  }
}

.panel-GrGa {
  background: url(../images/background-pics/path-003.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/Greg-Garville-Profile.jpg) center / contain;
  }
}

.panel-CoCl {
  background: url(../images/background-pics/path-010.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/Cody-02.jpg) center / contain;
  }
}

.panel-MiBr {
  background: url(../images/background-pics/BlueMug.png) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/Miguel.jpg) center / contain;
  }
}

.panel-001 {
  background: url(../images/background-pics/path-001.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-003 {
  background: url(../images/background-pics/path-003.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}


.panel-005 {
  background: url(../images/background-pics/path-005.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-006 {
  background: url(../images/background-pics/path-006.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
    background-size: cover;
  }
}

.panel-007 {
  background: url(../images/background-pics/path-007.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-008 {
  background: url(../images/background-pics/path-008.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-009 {
  background: url(../images/background-pics/path-009.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-010 {
  background: url(../images/background-pics/path-010.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-011 {
  background: url(../images/background-pics/path-011.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-012 {
  background: url(../images/background-pics/path-012.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-013 {
  background: url(../images/background-pics/path-013.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-014 {
  background: url(../images/background-pics/path-014.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-MiMa {
  background: url(../images/background-pics/path-013.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/miguel.jpg) center / contain;
    border: 1px solid #fff;
  }

  span {
    color: darkred;
  }
}
