.panel-krsw {
  background: url(../images/background-pics/path-001.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/kristen.jpeg) center / contain;
  }
}

.panel-CaSa {
  background: url(../images/background-pics/path-011.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/caleb-01.jpg) center / contain;
  }
}

.panel-DeDy {
  background: url(../images/background-pics/path-002.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/derekdyer.jpg) center / contain;
  }
}

.panel-SaTo {
  background: url(../images/background-pics/path-006.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/sara.jpg) center / contain;
  }
}

.panel-JeDi {
  background: url(../images/background-pics/path-001.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/Jeremiah_Diboll.jpg) center / contain;
  }
}

.panel-VaBe {
  background: url(../images/background-pics/path-001.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/Val.jpg) center / contain;
  }
}

.panel-ShMo {
  background: url(../images/background-pics/path-014.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/Sheri.jpg) center / contain;
  }
}

.panel-TaCo {
  background: url(../images/background-pics/taylorcox-bg.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/taylor-cox.jpg) center / contain;
  }
}

.panel-KeVa {
  background: url(../images/background-pics/path-002.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/kenia.jpg) center / contain;
  }
}

.panel-BrRi {
  background: url(../images/background-pics/brunoBack.jpg) no-repeat center center;
  background-size: cover;

  i {
    font-size: 500%;
    padding: 0.5em 0 0 0.1em;
  }

  h2,
  p {
    font-family: Helvetica, Impact, sans-serif;
  }

  .profile-pic {
    background: url(../images/profile-pics/BrunoSmall.jpg) center / contain;
  }
}

.panel-AmWi {
  background: url(../images/background-pics/path-005.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/amie-tiy.jpg) center / contain;
  }
}

.panel-KaTr {
  background: url(../images/background-pics/KaTr-bg.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/katherine.jpg) center / contain;
  }
}

.panel-SaVe {
  background: url(../images/background-pics/SaVe-bg.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/sarrah.jpg) center / contain;
  }
}

.panel-001 {
  background: url(../images/background-pics/coffee-and-computer.jpeg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/pic-of-Bree.jpg) center / contain;
  }
}

.panel-002 {
  background: url(../images/background-pics/path-002.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-003 {
  background: url(../images/background-pics/path-003.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-004 {
  background: url(../images/background-pics/path-004.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-005 {
  background: url(../images/background-pics/path-005.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-006 {
  background: url(../images/background-pics/path-006.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-007 {
  background: url(../images/background-pics/path-007.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-008 {
  background: url(../images/background-pics/path-008.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-009 {
  background: url(../images/background-pics/path-009.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-010 {
  background: url(../images/background-pics/path-010.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-011 {
  background: url(../images/background-pics/path-011.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-012 {
  background: url(../images/background-pics/path-012.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-013 {
  background: url(../images/background-pics/path-013.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}

.panel-014 {
  background: url(../images/background-pics/path-014.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background: url(../images/profile-pics/avatar.png) center / contain;
  }
}
