.panel-001 {
  background-image: url(../../public/images/background-pics/path-001.jpg);

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-CaSa {
  background-image: url(../../public/images/background-pics/path-002.jpg);

  .profile-pic {
    background-image: url(../../public/images/profile-pics/caleb-01.jpg);
  }
}

.panel-002 {
  background-image: url(../../public/images/background-pics/path-002.jpg);

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-003 {
  background-image: url(../../public/images/background-pics/path-003.jpg);

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-004 {
  background-image: url(../../public/images/background-pics/path-004.jpg);

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-005 {
  background-image: url(../../public/images/background-pics/path-005.jpg);

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-006 {
  background-image: url(../../public/images/background-pics/path-006.jpg);

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-007 {
  background-image: url(../../public/images/background-pics/path-007.jpg);

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-008 {
  background-image: url(../../public/images/background-pics/path-008.jpg);

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-009 {
  background-image: url(../../public/images/background-pics/path-009.jpg);

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-010 {
  background-image: url(../../public/images/background-pics/path-010.jpg);

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-011 {
  background-image: url(../../public/images/background-pics/path-011.jpg);

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-012 {
  background-image: url(../../public/images/background-pics/path-012.jpg);

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-013 {
  background-image: url(../../public/images/background-pics/path-013.jpg);

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-014 {
  background-image: url(../../public/images/background-pics/path-014.jpg);

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}
