.panel-001 {
  background: url(../../public/images/background-pics/path-001.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-CaSa {
  background: url(../../public/images/background-pics/path-006.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background-image: url(../../public/images/profile-pics/caleb-01.jpg);
  }
}

.panel-002 {
  background: url(../../public/images/background-pics/path-002.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-003 {
  background: url(../../public/images/background-pics/path-003.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-004 {
  background: url(../../public/images/background-pics/path-004.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-005 {
  background: url(../../public/images/background-pics/path-005.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-006 {
  background: url(../../public/images/background-pics/path-006.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-007 {
  background: url(../../public/images/background-pics/path-007.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-008 {
  background: url(../../public/images/background-pics/path-008.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-009 {
  background: url(../../public/images/background-pics/path-009.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-010 {
  background: url(../../public/images/background-pics/path-010.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-011 {
  background: url(../../public/images/background-pics/path-011.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-012 {
  background: url(../../public/images/background-pics/path-012.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-013 {
  background: url(../../public/images/background-pics/path-013.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}

.panel-014 {
  background: url(../../public/images/background-pics/path-014.jpg) no-repeat center center;
  background-size: cover;

  .profile-pic {
    background-image: url(../../public/images/profile-pics/avatar.png);
  }
}
