@import 'utility';
@import 'panels';

$base-text-size: 16px;
$base-font-family: sans-serif;
$font-header: 'Eczar', serif;
$font-body: 'Work Sans', sans-serif;

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  padding: 0;
  background-color: #202428;

  h1 {
    font-family: $font-header;
    font-weight: 800;
  }

  h2 {
    font-family: $font-header;
    font-size: 3em;
    font-weight: 700;
    padding: 25px 10%;
  }

  section,
  p {
    font-family: $font-body;
    font-size: 1.2em;
    font-weight: 300;
    max-width: 500px;
    line-height: 1.7em;
  }
}

html {
  box-sizing: border-box;
  background: #e8e8e8;
  font-family: 'helvetica neue', sans-serif;
}

.header {
  background: #202428;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f4f4f4;
  text-transform: uppercase;
  font-size: 2em;
  padding: 25px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.panel {
  color: #e8e8e8;
  text-align: left;
  transition:
    font-size 1s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 1s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    background 0.8s;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 25px 0;

  .profile-pic {
    transition: height 0.7s, width  0.7s;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    // background: center / contain;
  }

  h2 {
    max-height: 0;
    opacity: 0;
    transition: max-height 0, opacity 1.5s;
    overflow: hidden;
    padding: 0;
  }

  section {
    display: flex;
    flex-direction: column;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.2s, opacity 1.7s;
    overflow: hidden;

    p {
      font-size: 1em;
    }
  }
}

.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}

.panel.open-active > *:first-child {
  transform: translateY(0);
}

.panel > *:last-child {
  transform: translateY(100%);
}

.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel.open-active > * {
  .profile-pic {
    height: 125px;
    width: 125px;
  }
}

.panel.open-active {
  background: rgba(17, 25, 29, 0.7);

  h2 {
    max-height: 400px;
    overflow: visible;
    padding: 50px;
    opacity: 1;
  }

  section {
    max-height: 2000px;
    overflow: visible;
    padding: 50px;
    opacity: 1;
  }
}

.panel.open {
  flex: 5;
}
